html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: white;
  color: rgb(66,73,79);
}
.flex-container {
    display: flex;
    flex-direction: row;
  }

  .infobox {
    background: white;
    color: black;

    font-size: large;
    margin: 1em;
    padding: 1em;
    border: 2px solid red;
  }

.infobox:empty
{
    display:none;
}

  .sim-container {
    display: flex;
    flex-direction: column;
  }



.code {
  border: 1px solid green;
  color: greenyellow;
  background: black;
  width: 48vw;
  height: 92vh;
  margin: 1em;
  display: block;
  padding: 1em;
  white-space: pre-wrap;
  overflow: scroll;
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  border-radius: 1em;
 
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.button {
  font-size: large;
  border-radius: 0.5em;
  margin: 0.5em;
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;

}

.label {
  margin: 1em;
}

.test {
    border-radius: 1em;
    width: 48vw;
    height: 96vh;
    margin: 1vw;
    display: flex;
    background: rgb(240,240,240);
    flex-direction: column;
  
}

.url {
  margin: 1em;
  border: 1px solid black;
  margin-left: 3em;
  padding: 0.5em;
  background: white;
  border-radius: 0.5em;
}


.path { 
  background: white;
  color: black;
  margin: 1em;
  margin-left: -1.6em;
  padding: 0.2em;
}

.staticpath {
  margin-left: 1em;
}

.postdata {
  border: 1px solid green;
  color: black;
  background: white;

  height: 20%;
  margin: 1em;
  display: block;
  padding: 1em;
  white-space: pre;
  margin-left: 3em;
  border-radius: 0.5em;
  overflow: scroll;
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
}

.response {
  padding: 1em;
  background: white;

  border: 1px solid black;
  height: 90%;
  margin: 1em;
  white-space: pre-wrap;
  margin-left: 3em;
  overflow: scroll;
  border-radius: 0.5em;
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
}